root = true

[frontend/**.{js,ts,json}]
end_of_line = lf
charset = utf-8
insert_final_newline = true
tab_width = 2
indent_style = space
indent_size = tab
trim_trailing_whitespace = true
max_line_length = 120
ij_any_keep_indents_on_empty_lines = false
ij_any_keep_line_breaks = false
ij_any_keep_blank_lines_in_code = 1

ij_javascript_force_quote_style = true
ij_javascript_force_semicolon_style = true
ij_javascript_keep_line_breaks = false
ij_javascript_import_merge_members = false
ij_javascript_import_sort_members = true
ij_javascript_import_sort_module_name = true
ij_javascript_imports_wrap = on_every_item
ij_javascript_spaces_within_imports = true
ij_javascript_blank_lines_after_imports = 1
ij_javascript_use_import_type = always
ij_javascript_indent_case_from_switch = true
ij_javascript_block_brace_style = end_of_line
ij_javascript_class_brace_style = end_of_line
ij_javascript_function_expression_brace_style = end_of_line
ij_javascript_method_brace_style = end_of_line
ij_javascript_do_while_brace_force = if_multiline
ij_javascript_for_brace_force = if_multiline
ij_javascript_if_brace_force = if_multiline
ij_javascript_while_brace_force = if_multiline
ij_javascript_use_double_quotes = true
ij_javascript_use_semicolon_after_statement = true
ij_javascript_use_path_mapping = always
ij_javascript_use_explicit_js_extension = always_js

ij_typescript_force_quote_style = true
ij_typescript_force_semicolon_style = true
ij_typescript_keep_line_breaks = false
ij_typescript_import_merge_members = false
ij_typescript_import_sort_members = true
ij_typescript_import_sort_module_name = true
ij_typescript_spaces_within_brackets = true
ij_typescript_imports_wrap = on_every_item
ij_typescript_spaces_within_imports = true
ij_typescript_blank_lines_after_imports = 1
ij_typescript_use_import_type = always
ij_typescript_indent_case_from_switch = true
ij_typescript_block_brace_style = end_of_line
ij_typescript_class_brace_style = end_of_line
ij_typescript_function_expression_brace_style = end_of_line
ij_typescript_method_brace_style = end_of_line
ij_typescript_do_while_brace_force = if_multiline
ij_typescript_for_brace_force = if_multiline
ij_typescript_if_brace_force = if_multiline
ij_typescript_while_brace_force = if_multiline
ij_typescript_use_double_quotes = true
ij_typescript_use_semicolon_after_statement = true
ij_typescript_use_path_mapping = always
ij_typescript_use_explicit_js_extension = always_js
ij_typescript_wrap_imports=chap_always
